<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/util 
						http://www.springframework.org/schema/beans/spring-util-3.2.xsd">

	<bean id="options" class="com.cnblogs.hoojo.config.Options">
		<property name="beginPage" value="0"/>
		<property name="pageNum" value="1"/>
		<property name="maxDownloadTaskNum" value="10"/>
		<property name="maxAnalyzerTaskNum" value="7"/>
		<property name="async" value="true"/>

		<property name="pathMode" value="SITE_TYPE"/>
		<property name="namedMode" value="DATE_TITLE_AUTHOR"/>
	</bean>
	
	<bean id="cunBlogOptions" parent="options">
		<property name="pathMode" value="SITE_TYPE_AUTHOR"/>
		<property name="namedMode" value="DATE_TITLE"/>
		
		<property name="MaxSpiderWorksNum" value="1"/>
	</bean>

	<bean id="cnuHome" class="com.cnblogs.hoojo.support.CNUHomeSpider" lazy-init="true">
		<constructor-arg value="CNU主站首页" />
		<constructor-arg value="http://www.cnu.cc/selectedsFlow/" />
		<constructor-arg ref="options"/>
	</bean>
	
	<bean id="cnuHot" class="com.cnblogs.hoojo.support.CNUSiteSpider" lazy-init="true">
		<constructor-arg value="CNU主站人像-热门" />
		<constructor-arg value="http://www.cnu.cc/discoveryPage/hot-0?page=" />
		<constructor-arg ref="options"/>
	</bean>
	
	<bean id="cnuBlog" class="com.cnblogs.hoojo.support.CNUBlogSpider">
		<constructor-arg value="CNU博客-饭饭斌" />
		<constructor-arg value="http://www.cnu.cc/users/129239?page=" />
		<constructor-arg ref="cunBlogOptions"/>
	</bean>

	<bean id="oneKeyTask" class="com.cnblogs.hoojo.service.OneKeyExtractService">
		<property name="executors">
			<list>
				<ref local="cnuBlog"/>
				<!-- <ref local="cnuHot"/> -->
				<!-- <ref local="cnuBlog"/> -->
			</list>
		</property>
	</bean>
</beans>
